.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 350px;
  background-color: aqua;
  height: fit-content;
}
.card:hover{
  background-color: lightslategray;
  color: whitesmoke;
  margin-top: 5px;
  margin-bottom: 15px;
  box-shadow: 4px 4px skyblue;
}
.but{
  display: flex;
  justify-content: space-around;
}
.out {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:3rem;
  background-color: cadetblue;
  padding: 17px;
}
.edit{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  margin: 30px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  width:350px;
  box-shadow: 4px 4px skyblue;
  text-align: center;
}
.nav{
  padding: 17px;
  gap: 2rem;
  background-color: darkslategrey ;
  display: flex;
}
.add{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}